<div class="admin min_height" ng-controller="adminCtrl">
	<div class="panel-group col-md-2" id="accordion">
		<div ng-include="userMenu"></div>
		<div id="accordion">
			<h3>Keresés</h3>
			<ul class="nav nav-pills nav-stacked">
				<input type="text" class="form-control" placeholder="Keresés">
			</ul>
		</div>
	</div>
	<div class="container col-md-10 admin-container">
		<ul class="nav nav-tabs">
		   <li class="active">
			   <a data-toggle="tab" ng-click="changeContentFunction('users');setInitalStates();">Felhasználók</a>
		   </li>
		   <li>
			   <a data-toggle="tab" ng-click="changeContentFunction('products');setInitalStates();">Eszközök</a>
		   </li>
		   <li>
			   <a data-toggle="tab" ng-click="changeContentFunction('messages');setInitalStates();">Üzenetek</a>
		   </li>
		   <li>
			   <a data-toggle="tab" ng-click="changeContentFunction('categories');setInitalStates();">Kategóriák</a>
		   </li>
		   <li>
			   <a data-toggle="tab" ng-click="changeContentFunction('static');setInitalStates();">Statikus tartalmak</a>
		   </li>
		</ul>
		<div class="tab-content" ng-switch on="changeContent">
			<div ng-switch-when="users">
				<div ng-include="adminUsers"></div>
			</div>
			<div ng-switch-when="products" ng-show="!showUserDetails">
				 <div ng-include="adminProducts"></div>
			</div>
			<div ng-switch-when="messages">
				<div ng-include="adminMessages"></div>
			</div>
			<div ng-switch-when="categories">
				<div ng-include="adminCategories"></div>
			</div>
			<div ng-switch-when="static"></div>
			
			<div ng-show="showUserDetails">
				<table class="table table-striped table-details" id="user-details">
					<tr>
						<td><label>ID:</label></td>
						<td><span>{{currentUser.id}}</span></td>
					</tr>
					<tr>
						<td><label>Felhasználónév:</label></td>
						<td><span>{{currentUser.userName}}</span></td>
					</tr>
					<tr>
						<td><label>Teljes név:</label></td>
						<td><span>{{currentUser.fullName}}</span></td>
					</tr>
					<tr>
						<td><label>Megye:</label></td>
						<td><span>{{currentUser.county}}</span></td>
					</tr>
					<tr>
						<td><label>Irányítószám:</label></td>
						<td><span>{{currentUser.postcode}}</span></td>
					</tr>
					<tr>
						<td><label>Város:</label></td>
						<td><span>{{currentUser.city}}</span></td>
					</tr>
					<tr>
						<td><label>Cím:</label></td>
						<td><span>{{currentUser.address}}</span></td>
					</tr>
					<tr>
						<td><label>E-mail cím:</label></td>
						<td><span>{{currentUser.email}}</span></td>
					</tr>
				</table>
				<table class="table-details" id="user-details">
					<tr>
						<td><button type="button" class="btn btn-primary" ng-click="showUserDetailsFunction()">Vissza</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
