<table class="table table-striped">
	<tr id="heading">
		<td id="td-20"><label>Feladó</label></td>
		<td id="td-20"><label>Tárgy</label></td>
		<td colspan="4"><label>Dátum</label></td>
	</tr>
	<tr>
		<td id="td-20"><a>Feladó</a></td>
		<td id="td-20"><a>Tárgy</a></td>
		<td id="td-15"><a>Dátum</a></td>
		<!--<td id="td-40"><a>Üzenet szövegének első x karaktere...</a></td>-->
		<td>
		   <button type="button" class="btn btn-primary" ng-click=";">Szerkesztés</button>
		   <button type="button" class="btn btn-primary" ng-click="">Törlés</button>
	   </td>
	</tr>
</table>