<div class="row" ng-controller="productListingCtrl">
	<div class="panel-group col-md-2" id="accordion">
		<h3>Kategóriák</h3>
		<h4><a data-parent="#accordion" href="" ng-click="setCategory(0)">Összes kategória</a></h4>
		<div class="panel panel-default" ng-repeat="category in categories">
			<div class="panel-heading">
				<h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" ng-href="#{{category.id}}" ng-click="haveChild(category.id)"> {{category.name}} </a></h4>
			</div>
			<div id="{{category.id}}" class="panel-collapse collapse">
				<div class="panel-body" ng-show="haveChildNode">
					<ul class="list-unstyled">
						<li ng-repeat="childCategory in category.children">
						  <a ng-click="setCategory(childCategory.id)" ng-href=""> {{childCategory.name}} </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div ng-controller="menuCtrl">
			<div ng-if="loggedUser()">
				<div id="accordion" ng-include="userMenu"></div>
				<div id="accordion" ng-if="isAdminUser()" class="col-md-12">
					<h3>Admin</h3>
					<h4><a data-parent="#accordion" href="/#/admin">Admin oldal</a></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="container col-md-10" ng-include="productListing">
	</div>
</div>
