<div class="row" ng-controller="privateProfileCtrl">	
	<div class="panel-group col-md-2" id="accordion">
	   <h3>Menü</h3>
		<ul class="nav nav-pills nav-stacked">
			<li><a href="/my_products.html">Termékeim</a></li>
			<li><a href="/reservation.html">Termék foglalások</a></li>
			<li><a href="/reservation.html">Kölcsönzött termékek</a></li>
			<li><a href="/messages">Üzenetek</a></li>
			<li><a href="/rates">Értékelések</a></li>
		</ul>
   	</div>
	<div class="left-box col-md-8">
		<form name="editForm" role="form-horizontal" novalidate>
		<div class="row">
			<div class="left-side col-md-5">
				<span>Felhasználónév:</span>
			</div>
			<div class="right-side col-md-7">
				<span>{{myData.userName}}</span>
			</div>
		</div>
		<div class="row">
			<div class="left-side col-md-5">
				<span>Teljes név:</span>
			</div>
			<div class="right-side col-md-7">
				<span>{{myData.fullName}}</span>
			</div>
		</div>
		<div class="row">
			<div class="left-side col-md-5">
				<span>Megye:</span>
			</div>
			<div class="right-side col-md-7">
				<span>Megye</span>
			</div>
		</div>
		<div class="row">
			<div class="left-side col-md-5">
					<span>Irányítószám:</span>
			</div>
			<div class="right-side col-md-7">
				<span  ng-show="!buttonSwitch">{{myData.postcode}}</span>
				<div class="form-group" ng-show="buttonSwitch" ng-class="{'has-error' : (editForm.newPostcode.$error.required || editForm.newPostcode.$error.pattern) && !editForm.newPostcode.$pristine }">
					<input type="text" name="newPostcode" ng-model="editUser.postcode" required maxlength="4" ng-pattern="/^[0-9]{4,4}$/" >
					<span class="error" ng-show="editForm.newPostcode.$error.required && !editForm.newPostcode.$pristine">Kérlek add meg az irányítószámod!<br></span>
					<span class="error" ng-show="editForm.newPostcode.$error.pattern">Az irányítószám négyjegyű és csak számokat tartalmazhat!</span>
				</div>
			</div>
		</div>
		<div class="row"  id="dropdown-city" >
			<div class="left-side col-md-5">
				<span>Város:</span>
			</div>
			<div class="right-side col-md-7">
				<span ng-show="!buttonSwitch">{{myData.city}}</span>
				<div class="dropdown select-dropdown-edit" ng-show="buttonSwitch">
					<span id="city" role="button" data-toggle="dropdown" ng-class="{'select-error' : error_city}">{{editUser.city}}</span>
					<ul class="dropdown-menu uldropdown" role="menu" aria-labelledby="city" >
						<li ng-repeat="city in cities" ng-click="setCity(city.city)">{{city.city}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="left-side col-md-5">		
				<span>Lakcím:</span>
			</div>
			<div class="right-side col-md-7">
				<span  ng-show="!buttonSwitch">{{myData.address}}</span>
				<div class="form-group" ng-show="buttonSwitch" ng-class="{'has-error' : (editForm.newAddress.$error.required || editForm.newAddress.$error.pattern) && !editForm.newAddress.$pristine }">
					<input type="text" name="newAddress" required ng-model="editUser.address" ng-pattern="/^[ A-ZAÁEÉIÍOÓÖŐUÚÜŰa-zaáeéiíoóöőuúüű0-9./]*$/" maxlength="100">
					<span class="error" ng-show="editForm.newAddress.$error.required && !editForm.newAddress.$pristine">Kérlek add meg a lakcímed!<br></span>
					<span class="error" ng-show="editForm.newAddress.$error.pattern">Nem megengedett karakter a lakcímben!</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="left-side col-md-5">
				<span>E-mail cím:</span>
			</div>
			<div class="right-side col-md-7">
				<span ng-show="!buttonSwitch">{{myData.email}}</span>
				<div class="form-group" ng-show="buttonSwitch" ng-class="{'has-error' : (editForm.newEmail.$error.required || editForm.newEmail.$invalid) && !editForm.newEmail.$pristine }">
					<input type="email" name="newEmail" required ng-model="editUser.email" maxlength="100">
					<span class="error" ng-show="editForm.newEmail.$error.required && !editForm.newEmail.$pristine">Hiányzó email-cím!</span>
					<span class="error" ng-show="editForm.newEmail.$invalid && !editForm.newEmail.$error.required">Nem megfelelő e-mail cím!</span>
				</div>
			</div>
		</div>
		<div class="row" ng-show="buttonSwitch">
			<div class="left-side col-md-5">
				<button type="button" class="btn btn-primary" ng-click="setNewPasswordFunction()"  ng-show="buttonSwitch && !setNewPassword" >Jelszó megváltoztatása</button>
				<button type="button" class="btn btn-primary" ng-click="setNewPasswordFunction()"  ng-show="buttonSwitch && setNewPassword" >Még sem akarom megváltoztatni</button>
			</div>
		</div>
		<div class="row" ng-if="setNewPassword && buttonSwitch">
			<div class="left-side col-md-5" >
				<span>Régi jelszó:</span>
			</div>
			<div class="right-side col-md-7">
				<input type="password" name="oldPassword" ng-model="editUser.oldPassword" ng-minlength="8" ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z]))/" required>
			</div>
		</div>
		<div class="row" ng-if="setNewPassword && buttonSwitch">
			<div class="left-side col-md-5" >
				<span>Új jelszó:</span>
			</div>
			<div class="right-side col-md-7">
				<div class="form-group" ng-class="{'has-error' : (editForm.newPassword.$error.pattern || editForm.newPassword.$error.minlength) && !editForm.newPassword.$pristine }">
					<input type="password" name="newPassword" ng-model="editUser.newPassword" ng-minlength="8" ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z]))/">
					<span class="error" ng-show="editForm.newPassword.$error.pattern && !editForm.newPassword.$pristine">
					   A jelszónak kis-, nagybetűt és számot is tartalmaznia kell!<br>
					</span>
					<span class="error" ng-show="editForm.newPassword.$error.minlength && !editForm.newPassword.$pristine && !editForm.newPassword.$error.pattern">
					   Túl rövid jelszó! (min 8 karakter)
					</span>
				</div>
			</div>
		</div>
		<div class="row" ng-if="setNewPassword && buttonSwitch">
			<div class="left-side col-md-5" >
				<span>Új jelszó mégegyszer:</span>
			</div>
			<div class="right-side col-md-7">
				<div class="form-group" ng-class="{'has-error' : editForm.newPassword2.$invalid && !editForm.newPassword2.$pristine }">
					<input type="password" name="newPassword2" ng-model="editUser.newPassword2" equalpasswds2 maxlength="150">
					<span class="error" ng-show="editForm.newPassword2.$error.equalpasswds2 && !editForm.newPassword2.$pristine">
						A két jelszónak meg kell egyezni!
				   </span>	
				</div>
			</div>
		</div>
		<div class="row">
			<div class="right-side col-md-7">
					<button type="submit" class="btn btn-primary btn-box" ng-show="buttonSwitch" ng-click="submitForm(editForm.$valid); buttonSwitchFunction()" ng-show="buttonSwitch" ng-disabled="editForm.$invalid">Elfogad</button>
					<button type="button" class="btn btn-primary btn-box" ng-show="!buttonSwitch" ng-click="buttonSwitchFunction(); getCities();" ng-show="!buttonSwitch" >Szerkesztés</button>
					<button type="button" class="btn btn-default btn-box" ng-show="buttonSwitch" ng-click="buttonSwitchFunction();"  ng-show="buttonSwitch" >Mégse</button>
			</div>
		</div>
	</form>
	</div>
	<div class="right-box col-md-2">
		<button type="button" class="btn btn-primary" ng-click="toPublicView()">Nyilvános profil</button>
		<div class="lessor_rate">
		   <p class="all_rating">Összes: 150</p>
		   <p class="positive">100</p>
		   <p class="negative">50</p>
		   <p class="rate">66%</p>
		</div>
	</div>
</div>
