<div class="row profile min_height" ng-controller="profileCtrl">	
	<div class="panel-group col-md-2" id="accordion" ng-controller="menuCtrl">
		<span><a href="#/privateProfile" ng-show="ownProfile">Vissza a privát nézetre</a></span>
		<div id="accordion" ng-include="userMenu"></div>
		<div class="col-md-12" id="accordion" ng-if="isAdminUser()">
			<h3>Admin</h3>
			<h4><a data-parent="#accordion" href="#/beCareful" ng-click="setOwnerIdToNull()">Admin oldal</a></h4>
		</div>
	</div>
	<div class="col-md-10 container">
		<div class="row">
			<div class="col-md-3 data">
				<div class="user">
					<label>{{datas.userName}}</label>
				</div>
				<div ng-controller="messageCtrl">
					<button type="button" class="btn btn-primary" ng-show="messageButton"  ng-click="toUser()" data-toggle="modal" data-target="#newMessageModal">Üzenet küldés</button>
					 <div ng-include="newMessageModal"></div>
				</div>
				<div class="date">
					<label>Regisztrált: 2014.05.16.</label>
				</div>
				<div class="place">
					<label>{{datas.county}}</label>
					<label>{{datas.city}}</label>
				</div>
				<div class="lessor_rate">
					<p class="all_rating">
						Összes: 150
					</p>
					<p class="positive">
						100
					</p>
					<p class="negative">
						50
					</p>
					<p class="rate">
						66%
					</p>
				</div>
			</div>		
			<div class="col-md-9 rating">
				<label id="rating" class="label label-info">Legutóbbi értékelések</label>
				<table class="table table-hover">
					<tr>
						<td><label>Értékelés írója</label></td>
						<td><label id="positive">Pozitív</label>/<label id="negative">Negatív</label></td>
						<td><label>Terméknév</label></td>
						<td><label>Ez egy szöveg.....</label></td>
						<td><label>Értékelés dátuma</label></td>
					</tr>
					<tr>
						<td><label>Értékelés írója</label></td>
						<td><label id="positive">Pozitív</label>/<label id="negative">Negatív</label></td>
						<td><label>Terméknév</label></td>
						<td><label>Ez egy szöveg.....</label></td>
						<td><label>Értékelés dátuma</label></td>
					</tr>
					<tr>
						<td><label>Értékelés írója</label></td>
						<td><label id="positive">Pozitív</label>/<label id="negative">Negatív</label></td>
						<td><label>Terméknév</label></td>
						<td><label>Ez egy szöveg.....</label></td>
						<td><label>Értékelés dátuma</label></td>
					</tr>
					<tr>
						<td><label>Értékelés írója</label></td>
						<td><label id="positive">Pozitív</label>/<label id="negative">Negatív</label></td>
						<td><label>Terméknév</label></td>
						<td><label>Ez egy szöveg.....</label></td>
						<td><label>Értékelés dátuma</label></td>
					</tr>
					<tr>
						<td><label>Értékelés írója</label></td>
						<td><label id="positive">Pozitív</label>/<label id="negative">Negatív</label></td>
						<td><label>Terméknév</label></td>
						<td><label>Ez egy szöveg.....</label></td>
						<td><label>Értékelés dátuma</label></td>
					</tr>
					<tr>
						<td><label>Értékelés írója</label></td>
						<td><label id="positive">Pozitív</label>/<label id="negative">Negatív</label></td>
						<td><label>Terméknév</label></td>
						<td><label>Ez egy szöveg.....</label></td>
						<td><label>Értékelés dátuma</label></td>
					</tr>
					<tr>
						<td><label>Értékelés írója</label></td>
						<td><label id="positive">Pozitív</label>/<label id="negative">Negatív</label></td>
						<td><label>Terméknév</label></td>
						<td><label>Ez egy szöveg.....</label></td>
						<td><label>Értékelés dátuma</label></td>
					</tr>
				</table>
			</div>
		</div>
		<hr>
		<div class="row" ng-controller="productListingCtrl" ng-include="productListing"></div>
	</div>
</div>
